*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(157, 254, 254);
    color: #333;
    text-align: center;
    line-height: 1.6;
}

.section{
    padding: 40px 20px;
}

.hero{
    padding: 50px 20px;
}

.hero h1{
    font-size: 28px;
}

.grid{
    display: grid;
    gap: 10px;
}

.grid div{
    background-color: rgb(185, 249, 249);
    padding: 20px;
    border-radius: 40px;
}

@media (max-width: 768px){
    .hero h1{font-size: size 40px;}
}

@media (max-width:768px) {
    body{background-color: rgb(211, 250, 250);};
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero img{
    
}

